@model CMS.BusinessEntities.ViewModel.UserViewModel

@{
    Layout = "~/Areas/User/views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<body>
       <section class="quote-area ">
        <div class="container">
            <div class="row justify-content-center text-left section-title-wrap">
                <div class="col-lg-12 mt-4">
                    <h2 class="text-white">
                        Address Details <br>
                    </h2>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-12">
                    <div class="estimated-cost">
                        <form class="form-wrap" method="post" action="/User/User/AddressDetails">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-getEstimation" role="tabpanel" aria-labelledby="nav-getEstimation-tab">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label style="font-size:larger"><b style="color:#e72727">From (Sender)</b></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label style="font-size:larger"><b style="color:#e72727">To (Receiver)</b></label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Name</label>
                                                <input type="text" class="form-control" id="FromName" name="FromName" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" />
                                                
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Name</label>
                                                <input type="text" class="form-control" id="ToName" name="ToName" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" />
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Address</label>
                                                <input type="text" class="form-control" id="FromAddressLine" name="FromAddressLine" placeholder="Enter Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Address'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Address</label>
                                                <input type="text" class="form-control" id="ToAddressLine" name="ToAddressLine" placeholder="Enter Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Address'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Area Name</label>
                                                <input type="text" class="form-control" id="FromAreaName" name="FromAreaName" placeholder="Enter Area" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Area'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Area Name</label>
                                                <input type="text" class="form-control" id="ToAreaName" name="ToAreaName" placeholder="Enter Area" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Area'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> City</label>
                                                <input type="text" class="form-control" id="FromCityName" name="FromCityName" placeholder="Enter City Name" value="@ViewBag.From" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter City Name'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> City </label>
                                                <input type="text" class="form-control" id="ToCityName" name="ToCityName" placeholder="Enter City Name" value="@ViewBag.To" readonly="readonly" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter City Name'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Pincode</label>
                                                <input type="text" class="form-control" id="FromPinCode" name="FromPinCode" placeholder="Enter Pincode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Pincode'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Pincode</label>
                                                <input type="text" class="form-control" id="ToPinCode" name="ToPinCode" placeholder="Enter Pincode" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Pincode'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> MobileNo</label>
                                                <input type="text" class="form-control" id="FromMobileNo" name="FromMobileNo" placeholder="Enter Mobile No" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Mobile No'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight">MobileNo</label>
                                                <input type="text" class="form-control" id="ToMobileNo" name="ToMobileNo" placeholder="Enter Mobile No" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Mobile No'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Email</label>
                                                <input type="text" class="form-control" id="FromEmail" name="FromEmail" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="weight"> Email </label>
                                                <input type="text" class="form-control" id="ToEmail" name="ToEmail" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email'" />
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mt-4">
                                            <div class="text-center confirm_btn_box">
                                                <button class="main_btn text-uppercase" >Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

