@model IEnumerable<CMS.BusinessEntities.ViewModel.CityViewModel>

@{
    Layout = null;
}

@using (@Html.BeginForm("AddDealerCity","Dealer", FormMethod.Post))
{
    foreach (var city in ViewBag.Cities)
    {
        <div style="padding-right:15px;margin-left:200px">
            <input id="Cid" type="checkbox" name="CityId" value="@city.CityId" />
            <label for="@city.CityId">
                @city.CityName
            </label>
        </div>
    }

    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}
